<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fire and Ice</key>
	<string></string>
	<key>Wagamama</key>
	<string></string>
	<key>Uno&apos;s</key>
	<string></string>
	<key>Border Cafe</key>
	<string></string>
	<key>Sandrine&apos;s</key>
	<string></string>
	<key>Felipe&apos;s</key>
	<string></string>
	<key>John Harvard&apos;s Brew House</key>
	<string></string>
	<key>Crema Cafe</key>
	<string></string>
</dict>
</plist>
