<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CVS</key>
	<string></string>
	<key>Coop</key>
	<string></string>
	<key>Black Ink</key>
	<string></string>
	<key>Curious George</key>
	<string></string>
	<key>The Body Shop</key>
	<string></string>
	<key>Brattle Square Florist</key>
	<string></string>
	<key>Newbury Comics</key>
	<string></string>
	<key>Harvard Book Store</key>
	<string></string>
</dict>
</plist>
