<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple</key>
	<string>overpriced</string>
	<key>Banana</key>
	<string>ugly color</string>
	<key>Orange</key>
	<string>color, not a fruit</string>
	<key>Tomato</key>
	<string>NOT A FRUIT, WHY IS THIS EVEN HERE</string>
</dict>
</plist>
