<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>staff</key>
	<array>
		<string>David</string>
		<string>Tommy</string>
		<string>Rob</string>
		<string>Andrew</string>
		<string>Chris</string>
		<string>Larry</string>
		<string>Matt</string>
		<string>Mike</string>
		<string>Tom</string>
		<string>Wellie</string>
	</array>
</dict>
</plist>
